<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<h:head>
		<title>Proyecto Bolsa de Trabajo</title>
		<h:outputStylesheet library="css" name="estilos.css" />
	</h:head>
	<h:body>
		<div id="wrapper">
			<div id="header-wrapper">
				<ui:insert name="top">
					<div id="header">
						<div id="logo">
							<h1>Bolsa de Trabajo</h1>
						</div>
					</div>
				</ui:insert>
			</div>
			
			<div id="page">
			<ui:insert name="content">Contenido</ui:insert>
			</div>
			
			<div id="footer">
				<ui:insert name="botoom">Derechos Reservados</ui:insert>
			</div>
		</div>
	</h:body>
</html>