<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>Fallo</h:head> 
<body> 
	<h:form>
		Lo sentimos #{candidato.nombre}, no hay vacantes por el momento.
		<br />
		<h:commandLink action="index">Regresar</h:commandLink>
	</h:form>
</body> 
</html>