<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Bolsa de Trabajo</title>
</h:head>
<h:body>

	<ui:composition template="./WEB-INF/plantillas/plantilla.xhtml">
		<ui:define name="content">
			<h:form id="vacanteForm">
				<h:messages globalOnly="true"></h:messages>
				<!--  Aquí será donde nos imprima el mensaje de validator-->
				<table>
					<tr>
						<td><h:outputLabel for="nombre"
								value="#{msgs['vacanteForm.nombre']}: "></h:outputLabel></td>
						<td><h:inputText id="nombre" required="true"
								value="#{candidato.nombre}" /></td>
						<td><h:message for="nombre"></h:message></td>
					</tr>
					<tr>
						<td><h:outputLabel value="#{msgs['vacanteForm.apellido']}: "
								for="apellido" /></td>
						<td><h:inputText value="#{candidato.apellido}" id="apellido"
								required="true" /></td>
						<td><h:message for="apellido" /></td>
					</tr>
					<tr>
						<td><h:outputLabel
								value="#{msgs['vacanteForm.salarioDeseado']}: "
								for="salarioDeseado" /></td>
						<td><h:inputText value="#{candidato.salarioDeseado}"
								id="salarioDeseado" required="true">
								<f:validateLongRange minimum="500" maximum="5000" />
							</h:inputText></td>
						<td><h:message for="salarioDeseado" /></td>
					</tr>
					<tr>
						<td><h:outputLabel for="fechaNacimiento"
								value="#{msgs['vacanteForm.fechaNacimiento']}: " /></td>
						<td><h:inputText id="fechaNacimiento"
								value="#{candidato.fechaNacimiento}" required="true">
								<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
							</h:inputText></td>
						<td><h:message for="fechaNacimiento" /></td>
					</tr>
					<tr>
						<td><h:outputLabel for="codigoPostal"
								value="#{msgs['vacanteForm.codigoPostal']}: " /></td>
						<td><h:inputText id="codigoPostal" immediate="true"
								onchange="this.form.submit()" required="true"
								value="#{candidato.codigoPostal}"
								valueChangeListener="#{vacanteForm.codigoPostalListener}">
								<f:convertNumber integerOnly="true" pattern="00000" />
							</h:inputText></td>
						<td><h:message for="codigoPostal" /></td>
					</tr>
					<tr>
						<td><h:outputLabel for="distritoId"
								value="#{msgs['vacanteForm.distritoId']}: " /></td>
						<td><h:selectOneMenu id="distritoId"
								value="#{candidato.distritoId}">
								<f:selectItem itemLabel="#{msgs['vacanteForm.seleccion']}"
									itemvalue="" />
								<f:selectItems value="#{distritoHelper.selectItems}"></f:selectItems>
							</h:selectOneMenu></td>

						<td><h:message for="distritoId" /></td>
					</tr>
					<tr>
						<td><h:outputLabel for="ciudad"
								value="#{msgs['vacanteForm.ciudad']}: " /></td>
						<td><h:inputText id="ciudad" required="true"
								value="#{candidato.ciudad}">
							</h:inputText></td>
						<td><h:message for="ciudad" /></td>
					</tr>
				</table>
				<table>
					<tr>
						<td><h:commandLink
								actionListener="#{vacanteForm.ocultarComentario}"
								immediate="true" rendered="#{!vacanteForm.comentarioEnviado}"
								value="#{msgs['vacanteForm.mostrar']}" /> <h:commandLink
								actionListener="#{vacanteForm.ocultarComentario}"
								immediate="true" rendered="#{vacanteForm.comentarioEnviado}"
								value="#{msgs['vacanteForm.ocultar']}" /></td>
					</tr>
				</table>
				<h:panelGroup rendered="#{vacanteForm.comentarioEnviado}">
					<table>
						<tr>
							<td><h:outputLabel value="#{msgs['vacanteForm.comentario']}"
									for="comentario" /></td>
						</tr>
						<tr>
							<td><h:inputTextarea id="comentario" cols="50" rows="10"
									value="#{candidato.comentario}" /></td>
						</tr>
					</table>
				</h:panelGroup>
				<h:commandButton action="#{vacanteForm.enviar}"
					value="#{msgs['vacanteForm.enviar']}" />
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
